.page {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.product-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 35px 0;
}

.product-container p {
  font-size: 26px;
  text-transform: uppercase;
}

.purchase-form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-top: 10px;
}

.purchase-form p {
  font-size: 16px;
}

.product-container select {
  width: 200px;
  padding: 10px;
  outline: 0;
  border: 0;
  border-radius: 5px;
}

.product-container button {
  width: 240px;
  height: 50px;
  justify-self: end;
  border: unset;
  border-radius: 5px;
  text-transform: uppercase;
}

#purchase-container {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f5d6ac;
}