@font-face {
  font-family: 'Apercu';
  font-weight: normal;
  font-style: normal;
  src: local("Apercu"), url('./fonts/apercu-bold-pro.woff');
}

html,
body,
h1,
h2,
h3,
p,
button {
  padding: 0;
  margin: 0;
  font-family: "Apercu", Helvetica Neue, sans-serif;
}